*.swp
/*.o
/nearly_cc
/parse.tab.cpp
/parse.tab.h
/lex.yy.cpp
/lex.yy.h
/grammar_symbols.h
/grammar_symbols.cpp
/depend.mak
/parse.output
/ast_visitor.h
/ast_visitor.cpp
/highlevel.h
/highlevel.cpp
/ast.cpp
/foo.c
/foo.dot
/foo.pdf
/solution.zip
